PORT=3005
API_KEY=jhrti534qtodhjsofhkl2904b123

JELLYFIN_BASE_URL=
JELLYFIN_TOKEN=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=test@gmail.com

NOTIFICATION_EMAIL=